<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('post_index') }}">Market Garden</a>
    </div>
    <div>
        <a href="{{ path('last_basket_show') }}">PANIERSAMERE</a>
    </div>
  </nav>
  