{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <h1>Modifier un article</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('post_index') }}">Revenir à la liste des articles</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
